In [8]:
# OPERATORS

# 1.arithmaetic operators
print(1000+24)
print(30-4)
print(50/5)
print(20//3)
print(20/3)
print(2**4)
print(22*2)
print(5%3)

1024
26
10.0
6
6.666666666666667
16
44
2

In [28]:
# 2.assignment operators
x=5
print(x)
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)
x1=10
x1//=3
print(x1)
x2=5
x2&=3
print("and:",x2)
x3=100
x3|=3
print(x3)
x4=1000

x4^=3
print(x4)
x5=19
#  left right shift won't work for float
x5>>=1024
print(x5)
x6=-1024
x6<<=3
print(x6)

5
8
5
15
5.0
2.0
3
and: 1
103
1003
0
-8192

In [34]:
x=0b101
y=0b11
print("&:",x&y)
# 3.comparison operator
print(bool(3==3))
print(2!=8)
print(7>9)
print(7<=4)
print(2>=2)

&: 1
True
True
False
False
True

In [40]:
# 4.logical operators
print(x==101 or y==3)
print(x==101 and y==3)

True
False

In [38]:
# 5.identity operators
x=5
y=3
print(x is not y)
print(x is y)

True
False

In [47]:
# 6.membership operators
x="shweta h"
x1=["u","hweta","h"]
y="h"
print(y in x)
print(y not in x)

True
False

In [48]:
# 7.bitwise operator
x=0b101
y=1

print(x<<y)
print(x>>y)

10
2

In [56]:
# list
user_list=["shweta","shivee","hv","meow",616,1378,232,8,True]
print(user_list)
print(user_list[-6]," ",user_list[3])
l=["mewo","mewo"]
print(l)
print(len(user_list))
print(type(user_list))

['shweta', 'shivee', 'hv', 'meow', 616, 1378, 232, 8, True]
meow   meow
['mewo', 'mewo']
9
<class 'list'>

In [58]:
# 1.area of traingle
b=int(input("enter base:"))
h=int(input("enter height:"))
area=1/2*b*h
print("area:",area)

enter base:3
enter height:4
area: 6.0

In [59]:
# 2.GCD of 2 no.
def gcd(a,b):
    if(b==0):
        return a;
    else:
        return gcd(b,a%b)
a=int(input("enter 1st no.:"))
b=int(input("enter 2nd no.:"))
print("gcd:",gcd(a,b))

enter 1st no.:4
enter 2nd no.:10
gcd: 2

In [78]:
# 3.LCM of 2 no.
def gcd(a,b):
    if(b==0):
        return a;
    else:
        return gcd(b,a%b)

def lcm(a,b):
    lcm=(a*b)//gcd(a,b)
    return lcm

a=int(input("enter 1st no.:"))
b=int(input("enter 2nd no.:"))
print("lcm:",lcm(a,b))

enter 1st no.:5
enter 2nd no.:10
lcm: 10

In [61]:
# 4.sum of 3 no.
a=int(input("enter 1st no.:"))
b=int(input("enter 2nd no.:"))
c=int(input("enter 3rd no.:"))
if a==b or b==c or a==c:
    print(0)
else:
    print("sum:",a+b+c)

enter 1st no.:1
enter 2nd no.:2
enter 3rd no.:3
sum: 6

In [64]:
# 5.sum of 2 int
a=int(input("enter 1st no.:"))
b=int(input("enter 2nd no.:"))
if (a+b)>15 and (a+b)<20:
    print("sum:",20)
else:
     print("sum:",a+b)

enter 1st no.:1
enter 2nd no.:2
sum: 3

In [70]:
# 6.display info
n=(input("enter name:"))
a=(input("enter age:"))
ad=(input("enter address:"))
print("name:",n ,"\n","age:",a ,"\n","address:",ad ,"\n")

enter name:sh
enter age:20
enter address:ranchi
name: sh
 age: 20
 address: ranchi

In [4]:
#7.SI
p=int(input("enter P:"))
r=int(input("enter R:"))
t=int(input("enter T:"))
# A=p+(p*r*t)/100
A = p*(1 + r/100)**t
print("amount:",A)

enter P:10000
enter R:10
enter T:5
amount: 16105.100000000006

In [7]:
# 8.Euclidean distance
import math
x1=int(input("enter x1 :"))
y1=int(input("enter  y1:"))
x2=int(input("enter x2 :"))
y2=int(input("enter y2:"))
dist=math.sqrt((x1-x2)**2 + (y1-y2)**2)
print("distance:",dist)

enter x1 :1
enter  y1:1
enter x2 :1
enter y2:0
distance: 1.0

In [6]:
# EVALUATION
for i in range(10,21):
    if(i%2==0):
        print(i)

10
12
14
16
18
20

In [97]:
#EVALUATION

for i in range (20,31):
    
    if(((30+20)-i)%5==0):
        print(i)
print("\n")        
for i in range(30,20-1,-1):
    print(i)

20
25
30


30
29
28
27
26
25
24
23
22
21
20

In [93]:
# EVALUATION
a=input("enter 4 friends names:")
a1=a.split(" ")
print(a1)
for i in range (0,len(a1)):
    if ("s" in a1[i] and "i" in a1[i]):
        print(a1[i])

enter 4 friends names:shiv si h k
['shiv', 'si', 'h', 'k']
shiv
si